@import "~styles/constants.less";

.password-strength-container {
  font-family: @main-font;
  font-size: 16px;
  width: 95vw;

  @media (min-width: 600px) {
    width: 500px;
  }

  .general-directions {
    font-size: 18px;
    color: @off-white;
    line-height: 1.4;
    text-align: center;
    margin: 10px 0;
  }

  .password-rating {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .password-strength-heading {
      color: @off-white;
      margin-right: 10px;
    }

    .password-strength-badge {
      width: 150px;
      text-align: center;
      color: @white;
      font-size: 14px;
      font-weight: 700;
      border-radius: 25px;
      padding: 4px 0;
    }
  }

  .message-line {
    color: @off-white;
    margin: 20px 0;
  }
}
