@import "~styles/constants.less";

.main-container {
  width: 100vw;
  min-height: 100vh;
  background-color: @grey28;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;

    @media (min-height: 800px) {
      padding-top: 14vh;
    }

    .heading {
      font-family: @main-font;
      font-size: 24px;
      color: @off-white;
    }

    input {
      display: block;
      width: 350px;
      background-color: white;
      outline: none;
      border: 0;
      box-sizing: border-box;
      border-radius: 5px;
      line-height: 1.5;
      font-family: @main-font;
      font-size: 19px;
      padding: 8px 12px;
      margin: 20px auto;
    }
  }
}
