@import "~styles/constants.less";

.password-advice {
  background-color: @grey3d;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;

  .advice-heading {
    color: @off-white;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .advice-field {
    color: @greyc9;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;

    &.last-child {
      margin-top: 0;
    }
  }
}
