@import "~styles/constants.less";

.characters-info {
  background-color: @grey3d;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;

  .characters-heading {
    color: @off-white;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .characters-content {
    display: flex;
    flex-wrap: wrap;

    .box {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .title {
        color: @grey93;
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 3px;
      }

      .value {
        font-weight: 700;
        font-size: 15px;

        &.green {
          color: #70bf42;
        }
        &.red {
          color: #ec403c;
        }
      }
    }

    .last {
      margin-bottom: 0;
    }
  }

  .advice-field {
    color: @greyc9;
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
  }
}
