@import "~styles/constants.less";

.footer-container {
  position: absolute;
  bottom: 15px;
  left: 15px;

  @media (max-height: 1080px) {
    display: none;
  }

  .footer {
    font-family: @main-font;
    font-size: 16px;
    color: @off-white;
  }
}
