@import "~styles/constants.less";

.cracking-info {
  background-color: @grey3d;
  border-radius: 10px;
  padding: 20px;

  .cracking-heading {
    color: @off-white;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .cracking-content {
    display: flex;
    flex-direction: column;

    .box {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .title {
        color: @grey93;
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 3px;
      }

      .value {
        color: @greyc9;
        font-weight: 700;
        font-size: 15px;
      }
    }

    .last {
      margin-bottom: 0;
    }
  }
}
